<div class="Container">

  <form id="questions">
    <fieldset class="form-group">
    <% @questions.each do |q| %>
        <% @options = q.options %>
        <%= render partial: "/users/" + q.presentation_type, locals: {options: q.options} %>
    <% end %>


    </fieldset>
    <fieldset class="form-group">
      <label for="formGroupExampleInput2">Another label</label>
      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
    </fieldset>
     <button type="submit" id="save_answers" class="btn btn-primary">Save Answers</button>
  </form>

</div>
