<div class="Container">

  <div id="cat_questions" data-category='<%=  @questions.first.category_id %>'>
    <form id="questions">
      <%= form_tag('/users', controller: "users", action: "create", method: "post") do %>

      <% end %>
      <fieldset class="form-group">
      <% @questions.each do |q| %>
          <% @options = q.options %>
          <%= render partial: "/users/" + q.presentation_type, locals: {options: q.options, question: q} %>
      <% end %>
      </fieldset>

      <div id="slider"></div>
  <%= @question_array %>
       <button type="submit" id="save_answers" class="btn btn-primary">Save Answers</button>
    </form>
  </div>

</div>
