<div id="about">
  <section>
    <div class = "row center">
      <div class="col-sm-offset-1">
        <br><br><br><br>
        <h1 class="display-4"> &nbsp About Shurity</h1>
        <%= link_to "Back to Home Page", root_path, class: "btn btn-danger"=%>
      </div>
    </div>
    <div id="large-show-container" class="container">


    </div>
  </section>
</div>
