
#mainNav {

  .navbar-toggle {
    margin-top: 20px;
  }

  a {
    color: white;
    font-weight: 450;
    font-size: 14px;
  }

  .container-fluid {
    background-color: black;
    height: 90px;
  }

  .navbar {
    height: 30px;
  }


  .navbar-collapse .navbar-right {
    font-family: 'News_706';
    margin-top: -17px;

    a:hover,
    a:focus {
      color: green;
      font-weight: bold;
      font-size: 17px;
      font-color: black;
    }

    .brand {
    position: fixed;
    width: 90px;
    top: 0px;
    left: 15px;
  }

  }

  /*navbar brand text properties*/
  .navbar-default .navbar-header .navbar-brand {
      text-transform: uppercase;
      font-family: 'PDF_in_Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-weight: 700;
      font-size: 30px;
      color: white;
      margin-top: 3px;
      height: 100px;
  }

}

#product-show {

  .center{
    text-align: center;
  }

  .left{
    text-align: left;
  }

  t1 {
    font-size: 14px;

  }
  t2 {
    font-size: 12px;

  }





}

#splash-page{
  .categories {
    margin-top: 100px;

  }
}


#ex1Slider .slider-selection {
	background: #BABABA;
}

.container-answers {
	font-size: 12px;
  margin-top: 100px;

  .col-border {
    border-width: 5px;
    border-style: ridge;
  }
	.question-text{
	  font-size: 12px;
	  color: black;
		width: 500px;
	}

	.reg-slider{
	  color: red;
	  font-size: 7px;
	  width: 250px;
		float: left;
		margin: 10px;
	}

	.question {
		position: relative;
	}

	.row {
		// border-style: ridge;
		// border-width: 2px;
		-webkit-box-shadow: 0 8px 6px -6px #70010e;
  	-moz-box-shadow: 0 8px 6px -6px #70010e;
		box-shadow: 0 8px 6px -6px #70010e;
	}

	.select{
		font-size: 12px;
		color: black;
		float: left;
		width: 300px;

	}
	.budget-slider{
		font-size: 10px;
		color: black;
		float: left;
				width: 300px;
	}

}

#productsIndex {
  margin-top: 500px;
    h1 {
      font-size: 60px;
      text-transform: uppercase;
      text-align: center;
      font-family: "PDF_in_Text";
    }

    .postrows {
      margin: 2px;
    }

    img {
      width: 300px;
    }

  }

  html,body { height: 100%; }

#splash {
  .jumbotron {
    background: image-url('shurity-family-for-landing-page.jpg');
    background-size:cover;
    #flash-error {
      color: red;
    }
    #flash-notice {
      color: green;
    }
    .flash {
      margin-right: 50px;
    }
    ul {
      list-style: none;
    }
  }

  .jumbotron .container {
    height:450px;
    color: white;
  }
  .dropdown {
    color: black;

  }
}
