
#mainNav {

  .navbar-toggle {
    margin-top: 20px;
  }

  .dropdown-toggle {
    padding-top: 15px;
    padding-bottom: 0px;
    padding-right: 15px;
    padding-left: 15px
  }

  .open {
    color: black;
    background-color: black;

  }
  .dropdown-menu  {
      a {color: white;
      background-color: black;
      text-align: right;
      }
    padding-top: 0px;
    padding-bottom: 0px
  }
  a {
    color: white;
    font-weight: 450;
    font-size: 14px;
    background-color: black;
    // width: 120px;
  }

  li {
    color: black;
  }
  .fa {
    font-size: 23px;
    margin-top: 8px;
  }

  .caret {
    border-width: 7px;
  }

  .container-fluid {
    background-color: black;
    height: 90px;
  }

  .navbar {
    height: 30px;
  }

  .logo {
    .width: 100px;

  }
  .navbar-collapse .navbar-right {
    font-family: 'News_706';
    margin-top: -17px;

    a:hover,
    a:focus {
      color: white;
      font-weight: bold;
      font-size: 17px;
      font-color: black;
    }

    .brand {
    position: fixed;
    width: 90px;
    top: -10px;
    left: 15px;
    }

  }

  /*navbar brand text properties*/
  .navbar-default .navbar-header .navbar-brand {
      text-transform: uppercase;
      font-family: 'PDF_in_Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-weight: 700;
      font-size: 30px;
      color: white;
      margin-top: 3px;
      height: 100px;
  }

}

#product-show {

  // .col-centered {
  //     display:inline-block;
  //     /* reset the text-align */
  //     text-align:left;
  //     /* inline-block space fix */
  //     margin-right:-4px;
  //     width: 1500px;
  // }
  .center{
    text-align: center;
  }

  .left{
    text-align: left;
  }

  t1 {
    font-size: 14px;
  }
  t2 {
    font-size: 12px;
  }

  .prod-image{
    width: 300px

  }

  ul {
    list-style: none;
    padding: 0px
  }

  .blockquote {
    font-size: 10px

  }
  .card {
    background-color: #DFDFDF;
    -webkit-box-shadow: 0 8px 6px -6px #70010e;
    -moz-box-shadow: 0 8px 6px -6px #70010e;
    box-shadow: 0 8px 6px -6px #70010e;
    width: 100%;
    padding: 5px;
  }
  .extra-width{

    width: 300px;
  }
  #large-show-container {
    width: auto;
  }
  .centerBlock {
                display: table;
                margin: 0 auto;
            }
  // // .variable-width {
  // //   width: 100%;
  //
  // }
}

#product-index {
  .prod-image-list{
    width: 100px

  }
  score-1 {
    font-size: 24px;
  }
  score-2 {
    font-size: 28px;
  }

  score-3 {
    font-size: 12px;
    color: red;
  }
  .table-borders {
    border-top: 1pt solid black;
    border-bottom: 1pt solid black;

  }
}


#ex1Slider .slider-selection {
	background: #BABABA;
}
// These are for the two answer pages
.container-answers {
	font-size: 12px;
  margin-top: 100px;

  .col-border {
    border-width: 5px;
    border-style: ridge;
  }
	.question-text{
	  font-size: 14px;
	  color: black;
		width: 500px;
	}

	.reg-slider{
	  color: red;
	  font-size: 14px;
	  width: 250px;
		float: left;
		margin: 10px;
	}

	.question {
		position: relative;
	}

	.row {
		// border-style: ridge;
		// border-width: 2px;
		-webkit-box-shadow: 0 8px 6px -6px #70010e;
  	-moz-box-shadow: 0 8px 6px -6px #70010e;
		box-shadow: 0 8px 6px -6px #70010e;
	}

	.select{
		font-size: 12px;
		color: black;
		float: left;
		width: 300px;
    padding-top: 5px;

	}
	.budget-slider{
		font-size: 12px;
		color: black;
		float: left;
		width: 300px;
	}

  h1 {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    font-family: "PDF_in_Text";
    margin-top: 0px;

  }

  h4 {
    font-size: 18px;
    text-align: left;
    margin-top: 10px;
    padding: 0px

  }
  ol {
    font-size: 14px;
    padding-left: 20px;
  }

  .card {
    background-color: #FFEFEF;
    -webkit-box-shadow: 0 8px 6px -6px #70010e;
    -moz-box-shadow: 0 8px 6px -6px #70010e;
    box-shadow: 0 8px 6px -6px #70010e;
    width: 200px
  }

  .with_margin {
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 200px;
  }

}

#productsIndex {
  margin-top: 500px;
    h1 {
      font-size: 60px;
      text-transform: uppercase;
      text-align: center;
      font-family: "PDF_in_Text";
    }

    .postrows {
      margin: 2px;
    }

    img {
      width: 300px;
    }

  }

html,body { height: 100%; }

#splash {
  .jumbotron {
    background: image-url('shurity-family-for-landing-page.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height:100vh;
    padding-top: 30px;
    color: white;
    margin-top: 20px;
    margin-right: -20px;
    margin-left: -30px;

    #flash-error {
      color: red;
    }
    #flash-notice {
      color: white;
    }

    .flash {
      margin-right: 50px;
      margin-top: 50px
    }
    ul {
      list-style: none;
    }
  }

  .jumbotron .container {
    height:450px;
    color: white;
  }
  .dropdown {
    color: black;

  }
  h5 {
    color: #111022;
  }
  .lead {
    color: #8B8A93;
  }

  #large-container {
    width: auto;
  }
}

.card {
  background-color: #DBDBDB;
  -webkit-box-shadow: 0 8px 6px -6px #70010e;
  -moz-box-shadow: 0 8px 6px -6px #70010e;
  box-shadow: 0 8px 6px -6px #70010e;
  width: 310px
}
.background {
  background: image-url('signin-background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100vh;
  padding-top: 30px;
  color: white;
  margin-right: -20px;
  margin-left: -30px;

  .field {
      color: black;
    }
  label {
    color: white;
  }
}

.devise-links {
  a {
   color: white;
  }

}

.white {
  color: white;
}

.user-edit {
  margin-top: 90px;
  .row {
    // border-style: ridge;
    border-width: .3px;
    // -webkit-box-shadow: 0 15px 6px -6px #70010e;
    // -moz-box-shadow: 0 15px 6px -6px #70010e;
    // box-shadow: 0 15px 6px -6px #70010e;
  }

  hr {
  align-self: center;
  border: 0;
  height: 5px;
  // background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  }

  img {
    width: 100%;
  }

  a {
    color: white;
  }

}

#users-index {
  .index-list {
    border-bottom: solid;
    border-top: solid;
    border-width: 2px;
    font-size: 20px;
    margin-top: 10px;

  }
}

// * {
//   background: #000 !important;
//   color: #0f0 !important;
//   outline: solid #f00 1px !important;
// }
