// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#ex1Slider .slider-selection {
	background: #BABABA;
}

#answerNew {
	font-size: 12px;

	.question-text{
	  font-size: 12px;
	  color: black;
		width: 500px;
	}

	.reg-slider{
	  color: red;
	  font-size: 6px;
	  width: 250px;
		float: left;
	}

	.question {
		position: relative;
	}

	.row {
		border-style: ridge;
		border-width: .3px;
		-webkit-box-shadow: 0 8px 6px -6px #70010e;
  	-moz-box-shadow: 0 8px 6px -6px #70010e;
		box-shadow: 0 8px 6px -6px #70010e;
	}




	// h1 {
	// 	margin-top: -3px;
	// 	margin-bottom: -25px;
	// 	color: black;
	// 	padding-top: 10px;
	// 	text-transform: uppercase;
	// 	font-family: 'PDF_in_Text'
	// }
	//
	// .fa-icon {
	// 	color: navy;
	// }
	//
	// h3 {
	// 	font-family: "News_706"
	// }
	//
	// a {
	// 	color: black;
	// }
	//
	// a:hover,
	// a:focus {
	// 	color: black;
	// 	font-color: black;
	// }

}
