
<section>
  <div id="splash-page" class="Container">
    <div class="categories">
      <div class="dropdown category-dropdown">
        <ul>
          <% @cat.each do |c| %>

          <li><%= link_to c.name, new_answer_path(c.id) %></li>

          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>
