<div id="category-new">
  <section>
    <div class = "row center">
      <br><br><br><br><br><br><br><br><br><br><br><br>
        <h1>New Category</h1>
        <ul class="form-fields">

          <%= simple_form_for @cat do |f| %>
              <%= f.input :name, class: "form-control"%>
              <!-- testing drop down -->
              <!-- <!%=f.input :name,collection: Category.all%> -->

              <%= f.button :submit, "Add Category", class: "btn btn-success" %>

          <% end %>
        </ul>
  </section>
</div>
